header#main-header {
    height: 60px;
    width: 100%;
    background: #da552F;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}